<!-- START Template Header -->
<header id="header" class="navbar navbar-fixed-top">
</header>
<!--/ END Template Header -->

<!-- START Template Sidebar (Left) -->
<aside class="sidebar sidebar-left sidebar-menu">
</aside>
<!--/ END Template Sidebar (Left) -->

<!-- START Template Main -->
<section id="main" role="main">
</section>
<!--/ END Template Main -->

<!-- START Template Sidebar (right) -->
<aside class="sidebar sidebar-right">
	<hr-appointment-list titleText="Appointments"
						 titleClass="appointment-title" 
						 baseClass="appointment-list-container" 
						 appointmentClass="appointment-date" 
						 subjectClass="appointment-subject">
	</hr-appointment-list>
</aside>
